{
  "name" : "example",
  "files" : [
    "test/example.c",
    "adler32.c",
    "crc32.c",
    "deflate.c",
    "infback.c",
    "inffast.c",
    "inflate.c",
    "inftrees.c",
    "trees.c",
    "zutil.c",
    "compress.c",
    "uncompr.c",
    "gzclose.c",
    "gzlib.c",
    "gzread.c",
    "gzwrite.c",
    ".tis/stubs/my-stubs.c"  ],
  "main" : "main",
  "compilation_cmd" : "-D_LARGEFILE64_SOURCE=1 -DHAVE_HIDDEN -I.  -I.tis/stubs",
  "machdep" : "gcc_x86_64"
}
